{{yield}}
<ul class="pull-right">
    <li class="">
      {{#link-to 'projects.index' activeClass='active'}}Projects{{/link-to}}
    </li>
    <li class="">
      {{#link-to 'departments.index' activeClass='active'}}Departments{{/link-to}}
    </li>
    <li class="">
      {{#link-to 'assets.index' activeClass='active'}}Assets{{/link-to}}
    </li>
    <li class="">
      <a>{{currentUser.content.name}}</a>
        <ul class="nav_sub">
            <li><a href="#">Change Password</a></li>
            <li><a {{action 'invalidateSession'}}>Logout</a></li>
        </ul>
    </li>
</ul>
