<div class="row">

    <hr>
    <div class="other-details">
        <div class="column">
            <ul class="nav">
                <li>{{#link-to "projects.details.departments" activeClass='active'}}Departments{{/link-to}}</li>
                <li>{{#link-to "projects.details.users" activeClass='active'}}Users{{/link-to}}</li>
                <li>{{#link-to "projects.details.assets" activeClass='active'}}Assets{{/link-to}}</li>
                <li>{{#link-to "projects.details.danger" activeClass='active'}}Stranger Danger{{/link-to}}</li>

            </ul>
        </div>
        <div class="column">
          {{outlet}}
        </div>
    </div>
</div>
