$charcoal: #2c2c2c;
$charcoal_light: lighten($charcoal, 1.5%);
$dark_charcoal: darken($charcoal, 8%);
$red: #991c1f;
$red_lighten: lighten($red, 15%);;
$tan: #e3dec5;
$tan_dark: darken($tan, 8%);
$tan_med_dark: darken($tan, 5%);
$light_tan: lighten($tan, 1.5%);
$white: #e2e3e4;
$white_light: lighten($white, 3%);;
$white_med_dark: darken($white, 8%);;
$white_dark: darken($white, 12%);;
$grey: #bfbfbf;
$grey_med_dark: #8c8c8c;
$grey_dark: #595959;
$blue: #3B52A3;
//$red_med_dark: #ab161b;
//$red_dark: #911317;
//$red_lighten: lighten($red, 3%);;