@import "color_palette";


body {
  background: $dark_charcoal;
  color: $tan;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  a{
    color: $tan;
  }
  h1{
    font-weight: 700;
  }
  h2, legend, button {
    font-weight: 600;
  }
  h3 {
    font-weight: 500;
  }
  h4 {
    font-weight: 400;
  }
  h5, label {
    font-weight: 300;
  }
  h6 {
    font-weight: 200;
  }
  p, a, span, li{
    font-weight: 300;
  }
  .panel {
    border-radius: 0;
  }
  article li {
    font-size: 1.5em;
  }
}

.navbar-brand {
  font-size: 3em;
  color: $red_light;
  font-family: "uppercut-angle",sans-serif;
  font-style: normal;
  font-weight: 400;
  &:first-letter {
    font-size: 150%;
  }
  &:hover {
    color: $white;
  }
}

.nav-pills {
  li {
    a {
      border-radius: 0;
   }
  }
  .active {
    background: $red;
  }
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.top-buffer {
  margin-top: 75px;
}

@-webkit-keyframes fadi {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadi {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

//fixed an offset error
.glyphicon {
  top: 0px;
}

/*--------Login/Registration--------*/

//#content {
//  background: $charcoal;
//}

.authentication_panel {
  background: $charcoal;
  border: 0;
  padding: 15px;
  margin-top: 50px;
  font-size: 16px;
  color: $tan;
  legend {
    color: $tan;
  }
  span {
    background: $white;
    //    font-size: 15em;
  }
  input, textarea {

    background-color : $white_light;

  }
  a{
    color: $red_light;
  }
  .login_failure {
    color: $red_light;
    -webkit-animation: fadi 2s 1;
    -moz-animation: fadi 2s 1;
  }
  .error_list ul, .error_list {
    list-style: none;
    color: red;
    margin-top: -15px;
    -webkit-animation: fadi 1s 1;
    -moz-animation: fadi 1s 1;
  }
}
.error_list {
  list-style: none;
  color: $red_light;
  margin-top: -15px;
  -webkit-animation: fadi 1s 1;
  -moz-animation: fadi 1s 1;
}


.btn {
  border-radius: 0;
}

.btn-grey {
   background: $grey;
   min-width: 200px;
   color: $white;
   &:hover {
     background-color: hsl(358, 76%, 40%);
   }
   &:active {
     background-color: hsl(358, 76%, 30%);
   }
 }


.btn-red {
  background: $red;
  min-width: 200px;
  color: $white;
  &:hover {
    background-color: $red_med_dark;
    color: $white_med_dark;
  }
  &:active {
    background-color: $red;
    color: $white_dark;
  }
}

.nav-btn {
  color: $white;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.25em;
  &:hover {
    background: $red_med_dark !important;
    color: $white_med_dark;
  }
  &:active {
    background: $red !important;
    color: $white_dark;
  }
}

.person_menu {
  img{
    width: 35px;
    padding-right: 5px;
  }
}


#projects_content {
  article {
    margin: 15px 0;
    padding: 15px;
    background: $charcoal;
    ul {
      li {
        list-style: none;
      }
    }
    &:hover {
      background: $charcoal_med_light;
      cursor: pointer;
    }
    &:active {
      background: $charcoal_light;
    }
  }
}