body {
  background: #181818;
  color: #e3dec5;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal; }
  body a {
    color: #e3dec5; }
  body h1 {
    font-weight: 700; }
  body h2, body legend, body button {
    font-weight: 600; }
  body h3 {
    font-weight: 500; }
  body h4 {
    font-weight: 400; }
  body h5, body label {
    font-weight: 300; }
  body h6 {
    font-weight: 200; }
  body p, body a, body span, body li {
    font-weight: 300; }
  body .panel {
    border-radius: 0; }
  body article li {
    font-size: 1.5em; }

.navbar-brand {
  font-size: 3em;
  color: #c42428;
  font-family: "uppercut-angle",sans-serif;
  font-style: normal;
  font-weight: 400; }
  .navbar-brand:first-letter {
    font-size: 150%; }
  .navbar-brand:hover {
    color: #e2e3e4; }

.nav-pills li a {
  border-radius: 0; }
.nav-pills .active {
  background: #991c1f; }

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto; }

.top-buffer {
  margin-top: 75px; }

@-webkit-keyframes fadi {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fadi {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.glyphicon {
  top: 0px; }

/*--------Login/Registration--------*/
.is_active {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: green;
  border-radius: 15px;
  margin-left: 10px; }

.is_inactive {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #991c1f;
  border-radius: 15px;
  margin-left: 10px; }

.authentication_panel {
  background: #2c2c2c;
  border: 0;
  padding: 15px;
  margin-top: 50px;
  font-size: 16px;
  color: #e3dec5; }
  .authentication_panel legend {
    color: #e3dec5; }
  .authentication_panel span {
    background: #e2e3e4; }
  .authentication_panel input, .authentication_panel textarea {
    background-color: #eaebeb; }
  .authentication_panel a {
    color: #c42428; }
  .authentication_panel .login_failure {
    color: #c42428;
    -webkit-animation: fadi 2s 1;
    -moz-animation: fadi 2s 1; }
  .authentication_panel .error_list ul, .authentication_panel .error_list {
    list-style: none;
    color: red;
    margin-top: -15px;
    -webkit-animation: fadi 1s 1;
    -moz-animation: fadi 1s 1; }

.error_list {
  list-style: none;
  color: #c42428;
  margin-top: -15px;
  -webkit-animation: fadi 1s 1;
  -moz-animation: fadi 1s 1; }

.btn {
  border-radius: 0; }

.btn-grey {
  background: #bfbfbf;
  min-width: 200px;
  color: #e2e3e4; }
  .btn-grey:hover {
    background-color: #b4181e; }
  .btn-grey:active {
    background-color: #871216; }

.btn-red {
  background: #991c1f;
  min-width: 200px;
  color: #e2e3e4; }
  .btn-red:hover {
    background-color: #7b1619;
    color: #cdcfd0; }
  .btn-red:active {
    background-color: #991c1f;
    color: #c2c4c6; }

.nav-btn {
  color: #e2e3e4;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.25em; }
  .nav-btn:hover {
    background: #7b1619 !important;
    color: #cdcfd0; }
  .nav-btn:active {
    background: #991c1f !important;
    color: #c2c4c6; }

.person_menu img {
  width: 35px;
  padding-right: 5px; }

#projects_content article {
  margin: 15px 0;
  padding: 15px;
  background: #2c2c2c; }
  #projects_content article ul li {
    list-style: none; }
  #projects_content article:hover {
    background: #343434;
    cursor: pointer; }
  #projects_content article:active {
    background: #3b3b3b; }
