
.button {
  background-color: $white;
  color: $charcoal;
  &:hover {
    background-color: $red;
    transition: .25s;
  }
  &:active {
    background-color: $red_light;
  }
  &:focus {
    //box-shadow: 0 0 10px $white !important;
    background-color: $red_light;
    //outline:0;
    outline-color: $white

  }
}
