$charcoal: #303030;
$red: #DF1E25;
$white: #f5f7f7;
$gray: #bfbfbf;
$gray_med_dark: darken($gray, 20%);
$gray_dark: darken($gray, 35%);
$blue: #5594c1;
$red_med_dark: #ab161b;
$red_dark: #911317;
$green: #76b74E;
$green_med: darken($green, 10%);
$green_dark: darken($green, 25%);
$steel: #5594c1;
$yellow: #F7F743;

$input_field_bg: $white;
$input_field_border: $charcoal;
$input_field_highlight: $green;
