$charcoal: #2c2c2c;
$charcoal_med_light: lighten($charcoal, 3%);
$charcoal_light: lighten($charcoal, 6%);
$dark_charcoal: darken($charcoal, 8%);
$red: #991c1f;
$red_light: lighten($red, 10%);
$red_med_dark: darken($red, 7%);
$red_dark: darken($red, 15%);
$tan: #e3dec5;
$tan_dark: darken($tan, 8%);
$tan_med_dark: darken($tan, 5%);
$light_tan: lighten($tan, 1.5%);
$white: #e2e3e4;
$white_light: lighten($white, 3%);
$white_med_dark: darken($white, 8%);
$white_dark: darken($white, 12%);
$grey: #bfbfbf;
$grey_med_dark: #8c8c8c;
$grey_dark: #595959;
$blue: #3B52A3;
$blue_light: lighten($blue, 5%);
$green: #4dca4a;
$green_med_dark: darken($green, 12%);;

$input_field_bg: $white;
$input_field_border: $charcoal;
$input_field_highlight: $green;
