@import 'color_pallete';



.tiled-list {
  section {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
    label {
      color: $white;
      font-size: 1.5em;
      padding: 0;
      font-weight: 500;
    }
    ul {
      list-style: none;
    }
    .callout {
      background-color: $charcoal;
      border: 1px solid $white;
      overflow: hidden;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          color: $white;
        }
      }

    }

    .is_active {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: $green;
      border-radius: 15px;
      margin-left: 10px;
    }

    .is_inactive {
      display: inline-block;
      width: 15px;
      height: 15px;
      background: $red;
      border-radius: 15px;
      margin-left: 10px;
    }
    .slider {
      height: 30px;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.other-details {
  .nav {
    list-style: none;
    li {
      float: left;
      a {
        color: $charcoal;
        background-color: $white;
        padding: 5px 10px;
        &:hover {
          color: $white;
          background-color: $red;
          transition: .5s;
        }
      }
      .active {
        background-color: $red;
        color: $white;
      }
    }
  }

}
