@import 'color_pallete';
@import 'login_modal';
@import 'main_nav';
@import 'buttons';
@import 'projects';
@import 'tiled_list';
@import 'create_screens';


*, section, div, span, li, ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: $charcoal;
  color: $white;
  font-family: "brandon-grotesque", sans-serif;
}

.alert {
  color: $red;
}
.pull-right{float:right!important}
.auto-margin{display:block;margin:0 auto}


.navbar-brand {
  font-size: 3em;
  color: $red_light !important;
  font-family: "uppercut-angle",sans-serif;
  font-style: normal;
  font-weight: 400;
  &:first-letter {
    font-size: 150%;
  }
  &:hover {
    color: $white !important;
  }
  a{
    color: $red_light;
  }
}

.nav-btn {
  color: $white;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.25em;
  &:hover {
    background: $red_med_dark !important;
    color: $white_med_dark;
  }
  &:active {
    background: $red !important;
    color: $white_dark;
  }
}

.no-items {
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  color: #595959;

}

.section-header {
  ul {
    list-style: none;
  }
  .add-item {
    font-size: 3.5em;
    a {
      color: $white;
      padding: 10px 15px;
    }
    &:hover {
      background-color: $red_med_dark;
      transition: .25s;
    }
  }
}



