{{#if session.isAuthenticated}}
    <header class="">
        <div class="row">
            <logo class="large-4 columns app-header navbar-brand">
              {{#link-to 'index'}}Redd{{/link-to}}
            </logo>
            <div class="large-8 columns">
              {{main-nav}}
            </div>
        </div>
    </header>
{{/if}}

<section id="wrapper" class="row">
  {{outlet}}
</section>