<div class="row">
  <h1>Welcome
    {{#if currentUser.content.first_name}}
      {{currentUser.content.first_name}}
    {{else}}
      {{currentUser.content.email}}
    {{/if}}
  </h1>
</div>
{{outlet}}
